*{
    margin: 0;
}

.dot{
    background-color: white;
    height: 90px; 
    width: 90px; 
    border-radius: 50%; 
    margin: 5px;
}

.dotNumber{
    font-family: 'Fjalla One', sans-serif; 
    text-align: center; 
    font-size: 32px; 
    padding-top: 20px;
    color: #4D4D4D;
}

.dotText{
    margin-top: 5px; 
    color: white;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
}

.personalInfo{
    border: 1px solid; 
    margin-top: 50px;
    padding: 15px;
    border-radius: 5px;
    padding-bottom: 50px;
    display: inline-block;

}

.nInput{
    font-weight: 500;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.stInput{
    width: 100%; 
    border: 1px solid; 
    border-color: #adadad; 
    border-radius: 5px; 
    padding: 5px 10px; 
    outline: none;
}

.resume{
    border: 1px solid; 
    display: inline-block; 
    padding: 25px; 
    margin-top: 50px;
    margin-left: 15px;
    border-radius: 5px;
    padding-bottom: 90px;
    margin-bottom: 275px;
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

@media screen and (max-width: 768px){
    .p1{
        display: none;
    }
    .p2{

        margin-left: 35px;
    }
    .p3{
        display: none;
    }
}