*{
    margin: 0;
}

/****************************** HEADER ************************/

.menuLink{
    text-decoration: none;
    color: rgb(114, 114, 114);
}

.menuLink:hover{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
li{
    display: inline;
    padding-left: 15px;
}

.icon{
    font-size: 24px;
    padding-left: 30px;
    color: white;
}

.iconP{
    margin-left: -175px;
}

.icons{
    margin-left: 50px; 
    display: inline; 
    margin-top: -50px
}

.iconC{
    display: inline-block; 
    margin-top: 50px;
}

.logo{
    background-color: white;
    height: 90px;
    width: 150px;
}

.text{
    padding-left: 25px;
    color:#df8531;
}

.text:hover{
    color:#d6a577;
    text-decoration: none;

}

.bg-dark{
    background-color: #4D4D4D!important;
}

.pesq{
    width: 450px; 
    margin-top: 60px;
    border: none;
    border-radius: 5px; 
    padding: 5px 25px; 
    outline: none; 
    display: inline; 
    margin-left: 50px
}

.icon:hover{
    color: rgb(182, 124, 48);
}

.subMenu{
    margin-left: 50px;

}


.quer{
    margin-top: 25px;
}

.item{
    margin-top: 65px;
    border: 1px solid;
    width: 300px;
    height: 425px;
    margin-left: 50px;
    display: inline-block;
}

.img{
    width: 285px;
    height: 175px;
    background-color: grey;
    margin-left: 7px;
    margin-top: 7px;
}

.carrCompra{
    margin-top: 25px;
    border: 1px solid;
    width: 500px;
    margin-left: 610px;
    display: inline-block;
    padding: 0;
    padding-bottom: 25px;
}

.imgCompra{
    height: 190px;
    width: 125px;
    border: 1px solid;
    margin-left: 25px;
    margin-top: 25px;
    display: inline-block;
}

.infs{
    margin-left: 135px;
    font-weight: 500;
    margin-bottom: -10px;
}

.prec{
    display: inline-block;
    padding-left: 55px;
}

.fPrec{
    display: inline-block;
}

.prec1{
    display: inline-block;
    padding-left: 27px;
    font-weight: 400;
}

.prec2{
    display: inline-block;
    padding-left: 60px;
    font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

@media screen and (max-width: 990px){
    .icon{
        display: inline-block;
        margin-top: -25px;
        margin-left: 25px;
    }

    .icons{
        margin-top: 15px;

    }

    .text{
        padding-left: 0;
        padding-top: 15px;
    }

    .iconP{
        margin-left: -25px;
        margin-top: -60px;
    }

    .pesq{
        margin-left: 0px;
        width: 300px;
    }

    .iconC{
        margin-top: 25px
    }

    .subMenu{
        margin-left: 25px;
    
    }
}

.tamans{
    display: none;
}
@media screen and (max-width: 1199px){
    .icons{
        margin-left: 250px
    }

    .subMenu{
        margin-left: 25px;
    
    }
}